In [1]:
import pandas as pd
df = pd.read_csv("ipl_summary.csv")

In [2]:
df

,match_id,match_date,match_title,team1_shortform,team2_shortform,toss_winner,toss_decision,team1__score,team2__score,Status,Winner,Summary,player_of_the_match,top_scorer
0,1,"Sat, 22 Mar '25",KKR vs RCB - 1st Match (N),KKR,RCB,RCB,Bowl,174/8,177/3,RESULT,RCB,RCB won by 7 wickets (with 22 balls remaining),Krunal Pandya,Virat Kohli
1,2,"Sun, 23 Mar '25",SRH vs RR - 2nd Match (D/N),SRH,RR,RR,Bowl,286/6,242/6,RESULT,SRH,SRH won by 44 runs,Ishan Kishan,Ishan Kishan
2,3,NaN,MI vs CSK - 3rd Match (N),MI,CSK,CSK,Bowl,155/9,158/6,RESULT,CSK,CSK won by 4 wickets (with 5 balls remaining),Noor Ahmad,Rachin Ravindra
3,4,"Mon, 24 Mar '25",LSG vs DC - 4th Match (N),LSG,DC,DC,Bowl,209/8,211/9,RESULT,DC,DC won by 1 wicket (with 3 balls remaining),Ashutosh Sharma,Nicholas Pooran
4,5,"Tue, 25 Mar '25",PK vs GT - 5th Match (N),PBKS,GT,GT,Bowl,243/5,232/5,RESULT,PBKS,PBKS won by 11 runs,Shreyas Iyer,Shreyas Iyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"Tue, 27 May '25",LSG vs RCB - 70th Match (N),LSG,RCB,RCB,Bowl,227/3,230/4,RESULT,RCB,RCB won by 6 wickets (with 8 balls remaining),Jitesh Sharma,Rishabh Pant
70,71,"Thu, 29 May '25",PK vs RCB - Qualifier 1 (N),PBKS,RCB,RCB,Bowl,101,106/2,RESULT,RCB,RCB won by 8 wickets (with 60 balls remaining),Suyash Sharma,Phil Salt
71,72,"Fri, 30 May '25",MI vs GT - Eliminator (N),MI,GT,MI,Bat,228/5,208/6,RESULT,MI,MI won by 20 runs,Rohit Sharma,Rohit Sharma
72,73,"Sun, 01 Jun '25",MI vs PK - Qualifier 2 (N),MI,PBKS,PBKS,Bowl,203/6,207/5,RESULT,PBKS,PBKS won by 5 wickets (with 6 balls remaining),Shreyas Iyer,Shreyas Iyer
73,74,"Tue, 03 Jun '25",RCB vs PK - Final (N),RCB,PBKS,PBKS,Bowl,190/9,184/7,RESULT,RCB,RCB won by 6 runs,Krunal Pandya,Shashank Singh

In [3]:
new_df = df.copy()
new_df['match_date'] = new_df['match_date'].fillna(method='ffill')

In [4]:
new_df

,match_id,match_date,match_title,team1_shortform,team2_shortform,toss_winner,toss_decision,team1__score,team2__score,Status,Winner,Summary,player_of_the_match,top_scorer
0,1,"Sat, 22 Mar '25",KKR vs RCB - 1st Match (N),KKR,RCB,RCB,Bowl,174/8,177/3,RESULT,RCB,RCB won by 7 wickets (with 22 balls remaining),Krunal Pandya,Virat Kohli
1,2,"Sun, 23 Mar '25",SRH vs RR - 2nd Match (D/N),SRH,RR,RR,Bowl,286/6,242/6,RESULT,SRH,SRH won by 44 runs,Ishan Kishan,Ishan Kishan
2,3,"Sun, 23 Mar '25",MI vs CSK - 3rd Match (N),MI,CSK,CSK,Bowl,155/9,158/6,RESULT,CSK,CSK won by 4 wickets (with 5 balls remaining),Noor Ahmad,Rachin Ravindra
3,4,"Mon, 24 Mar '25",LSG vs DC - 4th Match (N),LSG,DC,DC,Bowl,209/8,211/9,RESULT,DC,DC won by 1 wicket (with 3 balls remaining),Ashutosh Sharma,Nicholas Pooran
4,5,"Tue, 25 Mar '25",PK vs GT - 5th Match (N),PBKS,GT,GT,Bowl,243/5,232/5,RESULT,PBKS,PBKS won by 11 runs,Shreyas Iyer,Shreyas Iyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"Tue, 27 May '25",LSG vs RCB - 70th Match (N),LSG,RCB,RCB,Bowl,227/3,230/4,RESULT,RCB,RCB won by 6 wickets (with 8 balls remaining),Jitesh Sharma,Rishabh Pant
70,71,"Thu, 29 May '25",PK vs RCB - Qualifier 1 (N),PBKS,RCB,RCB,Bowl,101,106/2,RESULT,RCB,RCB won by 8 wickets (with 60 balls remaining),Suyash Sharma,Phil Salt
71,72,"Fri, 30 May '25",MI vs GT - Eliminator (N),MI,GT,MI,Bat,228/5,208/6,RESULT,MI,MI won by 20 runs,Rohit Sharma,Rohit Sharma
72,73,"Sun, 01 Jun '25",MI vs PK - Qualifier 2 (N),MI,PBKS,PBKS,Bowl,203/6,207/5,RESULT,PBKS,PBKS won by 5 wickets (with 6 balls remaining),Shreyas Iyer,Shreyas Iyer
73,74,"Tue, 03 Jun '25",RCB vs PK - Final (N),RCB,PBKS,PBKS,Bowl,190/9,184/7,RESULT,RCB,RCB won by 6 runs,Krunal Pandya,Shashank Singh

In [5]:
new_df.shape

(74, 14)

In [6]:
new_df['match_title'] = new_df['match_title'].str.replace('PK','PBKS')
new_df

,match_id,match_date,match_title,team1_shortform,team2_shortform,toss_winner,toss_decision,team1__score,team2__score,Status,Winner,Summary,player_of_the_match,top_scorer
0,1,"Sat, 22 Mar '25",KKR vs RCB - 1st Match (N),KKR,RCB,RCB,Bowl,174/8,177/3,RESULT,RCB,RCB won by 7 wickets (with 22 balls remaining),Krunal Pandya,Virat Kohli
1,2,"Sun, 23 Mar '25",SRH vs RR - 2nd Match (D/N),SRH,RR,RR,Bowl,286/6,242/6,RESULT,SRH,SRH won by 44 runs,Ishan Kishan,Ishan Kishan
2,3,"Sun, 23 Mar '25",MI vs CSK - 3rd Match (N),MI,CSK,CSK,Bowl,155/9,158/6,RESULT,CSK,CSK won by 4 wickets (with 5 balls remaining),Noor Ahmad,Rachin Ravindra
3,4,"Mon, 24 Mar '25",LSG vs DC - 4th Match (N),LSG,DC,DC,Bowl,209/8,211/9,RESULT,DC,DC won by 1 wicket (with 3 balls remaining),Ashutosh Sharma,Nicholas Pooran
4,5,"Tue, 25 Mar '25",PBKS vs GT - 5th Match (N),PBKS,GT,GT,Bowl,243/5,232/5,RESULT,PBKS,PBKS won by 11 runs,Shreyas Iyer,Shreyas Iyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"Tue, 27 May '25",LSG vs RCB - 70th Match (N),LSG,RCB,RCB,Bowl,227/3,230/4,RESULT,RCB,RCB won by 6 wickets (with 8 balls remaining),Jitesh Sharma,Rishabh Pant
70,71,"Thu, 29 May '25",PBKS vs RCB - Qualifier 1 (N),PBKS,RCB,RCB,Bowl,101,106/2,RESULT,RCB,RCB won by 8 wickets (with 60 balls remaining),Suyash Sharma,Phil Salt
71,72,"Fri, 30 May '25",MI vs GT - Eliminator (N),MI,GT,MI,Bat,228/5,208/6,RESULT,MI,MI won by 20 runs,Rohit Sharma,Rohit Sharma
72,73,"Sun, 01 Jun '25",MI vs PBKS - Qualifier 2 (N),MI,PBKS,PBKS,Bowl,203/6,207/5,RESULT,PBKS,PBKS won by 5 wickets (with 6 balls remaining),Shreyas Iyer,Shreyas Iyer
73,74,"Tue, 03 Jun '25",RCB vs PBKS - Final (N),RCB,PBKS,PBKS,Bowl,190/9,184/7,RESULT,RCB,RCB won by 6 runs,Krunal Pandya,Shashank Singh

In [7]:
df_balls = pd.read_csv("ipl_2025_deliveries.csv")

In [8]:
df_balls

,match_id,phase,date,venue,batting_team,bowling_team,innings,over,striker,bowler,runs_of_bat,extras,wide,legbyes,byes,noballs,wicket_type,player_dismissed,fielder
0,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.1,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.2,de Kock,Hazlewood,4,0,0,0,0,0,NaN,NaN,NaN
2,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.3,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN
3,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.4,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN
4,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.5,de Kock,Hazlewood,0,0,0,0,0,0,caught,de Kock,Jitesh Sharma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17241,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.2,Shashank Singh,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN
17242,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.3,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN
17243,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.4,Shashank Singh,Hazlewood,4,0,0,0,0,0,NaN,NaN,NaN
17244,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.5,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN
17245,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.6,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN

In [9]:
df_balls['over_number'] = df_balls['over'].astype(str).str.split('.').str[0].astype(int)

In [10]:
df_balls

,match_id,phase,date,venue,batting_team,bowling_team,innings,over,striker,bowler,runs_of_bat,extras,wide,legbyes,byes,noballs,wicket_type,player_dismissed,fielder,over_number
0,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.1,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN,0
1,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.2,de Kock,Hazlewood,4,0,0,0,0,0,NaN,NaN,NaN,0
2,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.3,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN,0
3,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.4,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN,0
4,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.5,de Kock,Hazlewood,0,0,0,0,0,0,caught,de Kock,Jitesh Sharma,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17241,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.2,Shashank Singh,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN,19
17242,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.3,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN,19
17243,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.4,Shashank Singh,Hazlewood,4,0,0,0,0,0,NaN,NaN,NaN,19
17244,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.5,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN,19
17245,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.6,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN,19

In [11]:
df_balls.iloc[15]

match_id                                1
phase                         Group Stage
date                         Mar 22, 2025
venue               Eden Gardens, Kolkata
batting_team                          KKR
bowling_team                          RCB
innings                                 1
over                                  2.4
striker                            Narine
bowler                          Hazlewood
runs_of_bat                             4
extras                                  0
wide                                    0
legbyes                                 0
byes                                    0
noballs                                 0
wicket_type                           NaN
player_dismissed                      NaN
fielder                               NaN
over_number                             2
Name: 15, dtype: object

In [12]:
match_summary = df_balls.groupby('match_id').agg({
    'runs_of_bat': 'sum',
    'extras': 'sum',
    'over': 'count'
}).reset_index()

match_summary.rename(columns={
    'runs_of_bat': 'total_runs',
    'over': 'total_balls',
} , inplace=True)

In [13]:
match_summary

    match_id  total_runs  extras  total_balls
0          1         342       9          223
1          2         497      30          261
2          3         298      15          243
3          4         405      15          246
4          5         449      24          252
..       ...         ...     ...          ...
69        70         437      20          244
70        71         192      15          147
71        72         419      16          247
72        73         397      13          244
73        74         354      20          252

[74 rows x 4 columns]

In [14]:
runs_per_match = df_balls.groupby(['match_id', 'striker'])['runs_of_bat'].sum().reset_index()
top_scorer_per_match = runs_per_match.sort_values(['match_id', 'runs_of_bat'], ascending=[True, False])
top_scorer_per_match = top_scorer_per_match.groupby('match_id').head(1).reset_index(drop=True)

In [15]:
top_scorer_per_match

    match_id         striker  runs_of_bat
0          1           Kohli           59
1          2    Ishan Kishan          106
2          3        Ravindra           65
3          4          Pooran           75
4          5    Shreyas Iyer           97
..       ...             ...          ...
69        70            Pant          118
70        71       Phil Salt           56
71        72           Rohit           81
72        73    Shreyas Iyer           87
73        74  Shashank Singh           61

[74 rows x 3 columns]

In [16]:
top_scorer_overall = df_balls.groupby('striker')['runs_of_bat'].sum().reset_index()
top_scorer_overall = top_scorer_overall.sort_values('runs_of_bat', ascending=False)
top_scorer_overall

              striker  runs_of_bat
125     Sai Sudharsan          759
149  Suryakumar Yadav          717
69              Kohli          657
143      Shubman Gill          650
83     Mitchell Marsh          627
..                ...          ...
49          Hazlewood            0
9          Anukul Roy            0
90         Mustafizur            0
94              Ngidi            0
84      Mitchell Owen            0

[168 rows x 2 columns]

In [17]:
# Count valid dismissals per bowler per match
wickets_per_match = df_balls[df_balls['wicket_type'].notna()]
wickets_per_match = wickets_per_match.groupby(['match_id', 'bowler'])['wicket_type'].count().reset_index()

# Get top wicket-taker for each match
top_wicket_taker_per_match = wickets_per_match.sort_values(['match_id', 'wicket_type'], ascending=[True, False])
top_wicket_taker_per_match = top_wicket_taker_per_match.groupby('match_id').head(1).reset_index(drop=True)

In [18]:
top_wicket_taker_per_match

    match_id            bowler  wicket_type
0          1     Krunal Pandya            3
1          2  Tushar Deshpande            3
2          3        Noor Ahmad            4
3          4     Kuldeep Yadav            3
4          5    Arshdeep Singh            3
..       ...               ...          ...
69        70   William ORourke            2
70        71         Hazlewood            3
71        72             Boult            2
72        73     Ashwani Kumar            2
73        74    Arshdeep Singh            3

[74 rows x 3 columns]

In [19]:
top_wicket_taker = df_balls.groupby('bowler')['wicket_type'].agg(lambda i: i.notna().sum()).reset_index().sort_values('wicket_type',ascending = False)

In [20]:
top_wicket_taker[top_wicket_taker['wicket_type']=='0']

Empty DataFrame
Columns: [bowler, wicket_type]
Index: []

In [21]:
top_scorer_overall = top_scorer_overall.reset_index()

In [22]:
top_scorer_overall.rename(columns={'striker': 'player'}, inplace=True)
top_scorer_overall

     index            player  runs_of_bat
0      125     Sai Sudharsan          759
1      149  Suryakumar Yadav          717
2       69             Kohli          657
3      143      Shubman Gill          650
4       83    Mitchell Marsh          627
..     ...               ...          ...
163     49         Hazlewood            0
164      9        Anukul Roy            0
165     90        Mustafizur            0
166     94             Ngidi            0
167     84     Mitchell Owen            0

[168 rows x 3 columns]

In [23]:
top_wicket_taker.rename(columns={'bowler': 'player'}, inplace=True)
top_wicket_taker

               player  wicket_type
79            Prasidh           26
76         Noor Ahmad           24
17              Boult           23
35          Hazlewood           22
8      Arshdeep Singh           22
..                ...          ...
26   Fazalhaq Farooqi            0
102       Shivam Dube            0
100    Shashank Singh            0
91           Sakariya            0
0         Abdul Samad            0

[129 rows x 2 columns]

In [24]:
player_stats = pd.merge(top_scorer_overall, top_wicket_taker, on='player' ,how='outer').fillna(0)

In [25]:
player_stats

     index            player  runs_of_bat  wicket_type
0    125.0     Sai Sudharsan        759.0          0.0
1    149.0  Suryakumar Yadav        717.0          0.0
2     69.0             Kohli        657.0          0.0
3    143.0      Shubman Gill        650.0          0.0
4     83.0    Mitchell Marsh        627.0          0.0
..     ...               ...          ...          ...
198    0.0       Karim Janat          0.0          0.0
199    0.0           Sandeep          0.0          0.0
200    0.0            Topley          0.0          0.0
201    0.0      Rahul Chahar          0.0          0.0
202    0.0          Sakariya          0.0          0.0

[203 rows x 4 columns]

In [26]:
player_stats['wicket_type'].max()

26.0

In [27]:
player_stats.drop('index', axis =1, inplace =True)
player_stats

               player  runs_of_bat  wicket_type
0       Sai Sudharsan        759.0          0.0
1    Suryakumar Yadav        717.0          0.0
2               Kohli        657.0          0.0
3        Shubman Gill        650.0          0.0
4      Mitchell Marsh        627.0          0.0
..                ...          ...          ...
198       Karim Janat          0.0          0.0
199           Sandeep          0.0          0.0
200            Topley          0.0          0.0
201      Rahul Chahar          0.0          0.0
202          Sakariya          0.0          0.0

[203 rows x 3 columns]

In [28]:
final_match_summary = pd.merge(new_df, match_summary, on='match_id', how = 'left')

In [29]:
final_match_summary

,match_id,match_date,match_title,team1_shortform,team2_shortform,toss_winner,toss_decision,team1__score,team2__score,Status,Winner,Summary,player_of_the_match,top_scorer,total_runs,extras,total_balls
0,1,"Sat, 22 Mar '25",KKR vs RCB - 1st Match (N),KKR,RCB,RCB,Bowl,174/8,177/3,RESULT,RCB,RCB won by 7 wickets (with 22 balls remaining),Krunal Pandya,Virat Kohli,342,9,223
1,2,"Sun, 23 Mar '25",SRH vs RR - 2nd Match (D/N),SRH,RR,RR,Bowl,286/6,242/6,RESULT,SRH,SRH won by 44 runs,Ishan Kishan,Ishan Kishan,497,30,261
2,3,"Sun, 23 Mar '25",MI vs CSK - 3rd Match (N),MI,CSK,CSK,Bowl,155/9,158/6,RESULT,CSK,CSK won by 4 wickets (with 5 balls remaining),Noor Ahmad,Rachin Ravindra,298,15,243
3,4,"Mon, 24 Mar '25",LSG vs DC - 4th Match (N),LSG,DC,DC,Bowl,209/8,211/9,RESULT,DC,DC won by 1 wicket (with 3 balls remaining),Ashutosh Sharma,Nicholas Pooran,405,15,246
4,5,"Tue, 25 Mar '25",PBKS vs GT - 5th Match (N),PBKS,GT,GT,Bowl,243/5,232/5,RESULT,PBKS,PBKS won by 11 runs,Shreyas Iyer,Shreyas Iyer,449,24,252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"Tue, 27 May '25",LSG vs RCB - 70th Match (N),LSG,RCB,RCB,Bowl,227/3,230/4,RESULT,RCB,RCB won by 6 wickets (with 8 balls remaining),Jitesh Sharma,Rishabh Pant,437,20,244
70,71,"Thu, 29 May '25",PBKS vs RCB - Qualifier 1 (N),PBKS,RCB,RCB,Bowl,101,106/2,RESULT,RCB,RCB won by 8 wickets (with 60 balls remaining),Suyash Sharma,Phil Salt,192,15,147
71,72,"Fri, 30 May '25",MI vs GT - Eliminator (N),MI,GT,MI,Bat,228/5,208/6,RESULT,MI,MI won by 20 runs,Rohit Sharma,Rohit Sharma,419,16,247
72,73,"Sun, 01 Jun '25",MI vs PBKS - Qualifier 2 (N),MI,PBKS,PBKS,Bowl,203/6,207/5,RESULT,PBKS,PBKS won by 5 wickets (with 6 balls remaining),Shreyas Iyer,Shreyas Iyer,397,13,244
73,74,"Tue, 03 Jun '25",RCB vs PBKS - Final (N),RCB,PBKS,PBKS,Bowl,190/9,184/7,RESULT,RCB,RCB won by 6 runs,Krunal Pandya,Shashank Singh,354,20,252

In [30]:
final_match_summary.drop('total_runs', axis =1, inplace =True)

In [31]:
final_match_summary.drop('total_balls', axis =1, inplace =True)

In [32]:
final_match_summary

,match_id,match_date,match_title,team1_shortform,team2_shortform,toss_winner,toss_decision,team1__score,team2__score,Status,Winner,Summary,player_of_the_match,top_scorer,extras
0,1,"Sat, 22 Mar '25",KKR vs RCB - 1st Match (N),KKR,RCB,RCB,Bowl,174/8,177/3,RESULT,RCB,RCB won by 7 wickets (with 22 balls remaining),Krunal Pandya,Virat Kohli,9
1,2,"Sun, 23 Mar '25",SRH vs RR - 2nd Match (D/N),SRH,RR,RR,Bowl,286/6,242/6,RESULT,SRH,SRH won by 44 runs,Ishan Kishan,Ishan Kishan,30
2,3,"Sun, 23 Mar '25",MI vs CSK - 3rd Match (N),MI,CSK,CSK,Bowl,155/9,158/6,RESULT,CSK,CSK won by 4 wickets (with 5 balls remaining),Noor Ahmad,Rachin Ravindra,15
3,4,"Mon, 24 Mar '25",LSG vs DC - 4th Match (N),LSG,DC,DC,Bowl,209/8,211/9,RESULT,DC,DC won by 1 wicket (with 3 balls remaining),Ashutosh Sharma,Nicholas Pooran,15
4,5,"Tue, 25 Mar '25",PBKS vs GT - 5th Match (N),PBKS,GT,GT,Bowl,243/5,232/5,RESULT,PBKS,PBKS won by 11 runs,Shreyas Iyer,Shreyas Iyer,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"Tue, 27 May '25",LSG vs RCB - 70th Match (N),LSG,RCB,RCB,Bowl,227/3,230/4,RESULT,RCB,RCB won by 6 wickets (with 8 balls remaining),Jitesh Sharma,Rishabh Pant,20
70,71,"Thu, 29 May '25",PBKS vs RCB - Qualifier 1 (N),PBKS,RCB,RCB,Bowl,101,106/2,RESULT,RCB,RCB won by 8 wickets (with 60 balls remaining),Suyash Sharma,Phil Salt,15
71,72,"Fri, 30 May '25",MI vs GT - Eliminator (N),MI,GT,MI,Bat,228/5,208/6,RESULT,MI,MI won by 20 runs,Rohit Sharma,Rohit Sharma,16
72,73,"Sun, 01 Jun '25",MI vs PBKS - Qualifier 2 (N),MI,PBKS,PBKS,Bowl,203/6,207/5,RESULT,PBKS,PBKS won by 5 wickets (with 6 balls remaining),Shreyas Iyer,Shreyas Iyer,13
73,74,"Tue, 03 Jun '25",RCB vs PBKS - Final (N),RCB,PBKS,PBKS,Bowl,190/9,184/7,RESULT,RCB,RCB won by 6 runs,Krunal Pandya,Shashank Singh,20

In [33]:
# Total matches played by each team
team1= final_match_summary['team1_shortform'].value_counts()
team2= final_match_summary['team2_shortform'].value_counts()

total_matches = (team1 + team2).reset_index()
total_matches.columns = ['team', 'matches_played']

valid_teams = final_match_summary['team1_shortform'].unique().tolist() + final_match_summary['team2_shortform'].unique().tolist()
valid_teams = list(set(valid_teams))  # Remove duplicates

# Step 2: Count only valid winners
wins_df = final_match_summary[final_match_summary['Winner'].isin(valid_teams)]
wins = wins_df['Winner'].value_counts().reset_index()
wins.columns = ['team', 'wins']

# Merge total matches and wins
final_team_summary = pd.merge(total_matches, wins, on='team', how='left')

# Fill NaN values in wins 
final_team_summary['wins'] = final_team_summary['wins'].fillna(0).astype(int)

final_team_summary = final_team_summary.sort_values(by='wins', ascending=False).reset_index(drop=True)

In [34]:
total_matches

   team  matches_played
0   CSK              14
1    DC              14
2    GT              15
3   KKR              14
4   LSG              14
5    MI              16
6  PBKS              17
7   RCB              16
8    RR              14
9   SRH              14

In [35]:
print(final_match_summary['Winner'].unique())

['RCB ' 'SRH ' 'CSK ' 'DC' 'PBKS' 'KKR ' 'LSG ' 'GT' 'RR' 'MI' 'TIED'
 'No Result' 'Abandoned']

In [36]:
wins = final_match_summary['Winner'].value_counts().reset_index()
wins.columns = ['team', 'wins']

In [37]:
wins

         team  wins
0        RCB     11
1        PBKS    10
2          GT     9
3          MI     9
4        SRH      6
5          DC     6
6        LSG      6
7        KKR      5
8        CSK      4
9          RR     4
10  No Result     2
11       TIED     1
12  Abandoned     1

In [38]:
wins=wins[~wins['team'].isin(['No Result', 'TIED', 'Abandoned'])]

In [39]:
wins

   team  wins
0  RCB     11
1  PBKS    10
2    GT     9
3    MI     9
4  SRH      6
5    DC     6
6  LSG      6
7  KKR      5
8  CSK      4
9    RR     4

In [40]:
final_team_summary = pd.merge(total_matches, wins, on = 'team', how = 'left')

In [41]:
total_matches

   team  matches_played
0   CSK              14
1    DC              14
2    GT              15
3   KKR              14
4   LSG              14
5    MI              16
6  PBKS              17
7   RCB              16
8    RR              14
9   SRH              14

In [42]:
set(total_matches['team']) - set(wins['team'])

{'CSK', 'KKR', 'LSG', 'RCB', 'SRH'}

In [43]:
total_matches['team'] = total_matches['team'].astype(str).str.strip()
wins = wins.copy()
wins.loc['team'] = wins['team'].astype(str).str.strip()

In [44]:
set(total_matches['team']) - set(wins['team'])

{'CSK', 'KKR', 'LSG', 'RCB', 'SRH'}

In [45]:
final_team_summary = pd.merge(total_matches, wins, on = 'team', how = 'left')
final_team_summary

   team  matches_played  wins
0   CSK              14   NaN
1    DC              14   6.0
2    GT              15   9.0
3   KKR              14   NaN
4   LSG              14   NaN
5    MI              16   9.0
6  PBKS              17  10.0
7   RCB              16   NaN
8    RR              14   4.0
9   SRH              14   NaN

In [46]:
no_result_matches = final_match_summary[final_match_summary['Winner'] == 'No Result']
no_result_matches

,match_id,match_date,match_title,team1_shortform,team2_shortform,toss_winner,toss_decision,team1__score,team2__score,Status,Winner,Summary,player_of_the_match,top_scorer,extras
43,44,"Sat, 26 Apr '25",PBKS vs KKR - 44th Match (N),PBKS,KKR,PBKS,Bat,201/4,7/0,NO RESULT,No Result,No result,NaN,NaN,5
54,55,"Mon, 05 May '25",DC vs SRH - 55th Match (N),DC,SRH,SRH,Bowl,133/7,NaN,NO RESULT,No Result,No result,NaN,NaN,5

In [47]:
nr_team1 = no_result_matches['team1_shortform'].value_counts()
nr_team2 = no_result_matches['team2_shortform'].value_counts()

nr_total = (nr_team1.add(nr_team2, fill_value=0)).reset_index()
nr_total.columns = ['team', 'no_result']
nr_total

   team  no_result
0    DC        1.0
1   KKR        1.0
2  PBKS        1.0
3   SRH        1.0

In [48]:
nr_total

   team  no_result
0    DC        1.0
1   KKR        1.0
2  PBKS        1.0
3   SRH        1.0

In [49]:
final_team_summary = pd.merge(final_team_summary, nr_total, on='team', how='left')

In [50]:
final_team_summary
final_team_summary[['no_result']] = final_team_summary[['no_result']].fillna(0).astype(int)

In [51]:
final_team_summary

   team  matches_played  wins  no_result
0   CSK              14   NaN          0
1    DC              14   6.0          1
2    GT              15   9.0          0
3   KKR              14   NaN          1
4   LSG              14   NaN          0
5    MI              16   9.0          0
6  PBKS              17  10.0          1
7   RCB              16   NaN          0
8    RR              14   4.0          0
9   SRH              14   NaN          1

In [ ]:
final_match_summary = final_match_summary.merge(
    top_scorer_per_match.rename(columns={
        'striker': 'top_scorer_name',
        'runs_of_bat': 'top_scorer_runs'
    }),
    on='match_id',
    how='left'
)

In [58]:
final_match_summary

,match_id,match_date,match_title,team1_shortform,team2_shortform,toss_winner,toss_decision,team1__score,team2__score,Status,Winner,Summary,player_of_the_match,top_scorer,extras
0,1,"Sat, 22 Mar '25",KKR vs RCB - 1st Match (N),KKR,RCB,RCB,Bowl,174/8,177/3,RESULT,RCB,RCB won by 7 wickets (with 22 balls remaining),Krunal Pandya,Virat Kohli,9
1,2,"Sun, 23 Mar '25",SRH vs RR - 2nd Match (D/N),SRH,RR,RR,Bowl,286/6,242/6,RESULT,SRH,SRH won by 44 runs,Ishan Kishan,Ishan Kishan,30
2,3,"Sun, 23 Mar '25",MI vs CSK - 3rd Match (N),MI,CSK,CSK,Bowl,155/9,158/6,RESULT,CSK,CSK won by 4 wickets (with 5 balls remaining),Noor Ahmad,Rachin Ravindra,15
3,4,"Mon, 24 Mar '25",LSG vs DC - 4th Match (N),LSG,DC,DC,Bowl,209/8,211/9,RESULT,DC,DC won by 1 wicket (with 3 balls remaining),Ashutosh Sharma,Nicholas Pooran,15
4,5,"Tue, 25 Mar '25",PBKS vs GT - 5th Match (N),PBKS,GT,GT,Bowl,243/5,232/5,RESULT,PBKS,PBKS won by 11 runs,Shreyas Iyer,Shreyas Iyer,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"Tue, 27 May '25",LSG vs RCB - 70th Match (N),LSG,RCB,RCB,Bowl,227/3,230/4,RESULT,RCB,RCB won by 6 wickets (with 8 balls remaining),Jitesh Sharma,Rishabh Pant,20
70,71,"Thu, 29 May '25",PBKS vs RCB - Qualifier 1 (N),PBKS,RCB,RCB,Bowl,101,106/2,RESULT,RCB,RCB won by 8 wickets (with 60 balls remaining),Suyash Sharma,Phil Salt,15
71,72,"Fri, 30 May '25",MI vs GT - Eliminator (N),MI,GT,MI,Bat,228/5,208/6,RESULT,MI,MI won by 20 runs,Rohit Sharma,Rohit Sharma,16
72,73,"Sun, 01 Jun '25",MI vs PBKS - Qualifier 2 (N),MI,PBKS,PBKS,Bowl,203/6,207/5,RESULT,PBKS,PBKS won by 5 wickets (with 6 balls remaining),Shreyas Iyer,Shreyas Iyer,13
73,74,"Tue, 03 Jun '25",RCB vs PBKS - Final (N),RCB,PBKS,PBKS,Bowl,190/9,184/7,RESULT,RCB,RCB won by 6 runs,Krunal Pandya,Shashank Singh,20

In [ ]:
final_match_summary = final_match_summary.merge(
    top_wicket_taker_per_match.rename(columns={
        'bowler': 'top_wicket_taker',
        'wicket_type': 'top_bowler_wickets'  
    }),
    on='match_id',
    how='left'
)

In [59]:
final_match_summary

,match_id,match_date,match_title,team1_shortform,team2_shortform,toss_winner,toss_decision,team1__score,team2__score,Status,Winner,Summary,player_of_the_match,top_scorer,extras
0,1,"Sat, 22 Mar '25",KKR vs RCB - 1st Match (N),KKR,RCB,RCB,Bowl,174/8,177/3,RESULT,RCB,RCB won by 7 wickets (with 22 balls remaining),Krunal Pandya,Virat Kohli,9
1,2,"Sun, 23 Mar '25",SRH vs RR - 2nd Match (D/N),SRH,RR,RR,Bowl,286/6,242/6,RESULT,SRH,SRH won by 44 runs,Ishan Kishan,Ishan Kishan,30
2,3,"Sun, 23 Mar '25",MI vs CSK - 3rd Match (N),MI,CSK,CSK,Bowl,155/9,158/6,RESULT,CSK,CSK won by 4 wickets (with 5 balls remaining),Noor Ahmad,Rachin Ravindra,15
3,4,"Mon, 24 Mar '25",LSG vs DC - 4th Match (N),LSG,DC,DC,Bowl,209/8,211/9,RESULT,DC,DC won by 1 wicket (with 3 balls remaining),Ashutosh Sharma,Nicholas Pooran,15
4,5,"Tue, 25 Mar '25",PBKS vs GT - 5th Match (N),PBKS,GT,GT,Bowl,243/5,232/5,RESULT,PBKS,PBKS won by 11 runs,Shreyas Iyer,Shreyas Iyer,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"Tue, 27 May '25",LSG vs RCB - 70th Match (N),LSG,RCB,RCB,Bowl,227/3,230/4,RESULT,RCB,RCB won by 6 wickets (with 8 balls remaining),Jitesh Sharma,Rishabh Pant,20
70,71,"Thu, 29 May '25",PBKS vs RCB - Qualifier 1 (N),PBKS,RCB,RCB,Bowl,101,106/2,RESULT,RCB,RCB won by 8 wickets (with 60 balls remaining),Suyash Sharma,Phil Salt,15
71,72,"Fri, 30 May '25",MI vs GT - Eliminator (N),MI,GT,MI,Bat,228/5,208/6,RESULT,MI,MI won by 20 runs,Rohit Sharma,Rohit Sharma,16
72,73,"Sun, 01 Jun '25",MI vs PBKS - Qualifier 2 (N),MI,PBKS,PBKS,Bowl,203/6,207/5,RESULT,PBKS,PBKS won by 5 wickets (with 6 balls remaining),Shreyas Iyer,Shreyas Iyer,13
73,74,"Tue, 03 Jun '25",RCB vs PBKS - Final (N),RCB,PBKS,PBKS,Bowl,190/9,184/7,RESULT,RCB,RCB won by 6 runs,Krunal Pandya,Shashank Singh,20

In [ ]:
final_match_summary.to_csv("final_match_summary.csv", index=False)
player_stats.to_csv("player_stats.csv", index=False)
final_team_summary.to_csv("team_summary.csv", index=False)

In [53]:
df_balls

,match_id,phase,date,venue,batting_team,bowling_team,innings,over,striker,bowler,runs_of_bat,extras,wide,legbyes,byes,noballs,wicket_type,player_dismissed,fielder,over_number
0,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.1,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN,0
1,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.2,de Kock,Hazlewood,4,0,0,0,0,0,NaN,NaN,NaN,0
2,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.3,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN,0
3,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.4,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN,0
4,1,Group Stage,"Mar 22, 2025","Eden Gardens, Kolkata",KKR,RCB,1,0.5,de Kock,Hazlewood,0,0,0,0,0,0,caught,de Kock,Jitesh Sharma,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17241,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.2,Shashank Singh,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN,19
17242,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.3,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN,19
17243,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.4,Shashank Singh,Hazlewood,4,0,0,0,0,0,NaN,NaN,NaN,19
17244,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.5,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN,19
17245,74,Final,"Jun 03, 2025","Narendra Modi Stadium, Ahmedabad",PBKS,RCB,2,19.6,Shashank Singh,Hazlewood,6,0,0,0,0,0,NaN,NaN,NaN,19

In [55]:
df_balls.to_csv("df_balls", index=False)